HOMESERVER_URL=https://matrix.example.org
APP_SERVICE_USER=@m2tg:example.org
ROOM_ID=!roomid:example.org
PORT=8080
APP_SERVICE_TOKEN=
HOMESERVER_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=
# HOST=127.0.0.1
# TELEGRAM_API_BASE=https://api.telegram.org
